<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="COLORFUL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss.SSS}) [%-32thread] %highlight(%-5level) [%-35logger{36}] - MDC %white([%mdc]) %green(%msg) %n</pattern>
        </encoder>
    </appender>

    <logger name="org.tnmk" level="TRACE"/>
    <root level="info">
        <appender-ref ref="COLORFUL_CONSOLE"/>
    </root>
</configuration>
